mixin sale(title, intro, link)
    .preview.preview_sale
        p.preview__title.preview__title_sale= title
        p.preview__intro.preview_sale__intro= intro
        if link!=''
            a.btn.btn--full.btn_details(href="text.html")= link
mixin service(title, link)
    a.preview.preview_service(href=link)
        .preview_service__img(style=attributes.style class=attributes.class)
        span= title
mixin advantage(title, intro)
    .slider__item
        .preview.preview_advantage
            p.preview__title!= title
            p.preview__intro!= intro
            .preview_advantage__img(style=attributes.style alt=title title=title)